html {
  font-size: 13px;
}

body {
  padding-top: 54px;
}

.text-box {
  height:120px;
  overflow-y: scroll;
}

.text-box-large {
  height:450px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.space { 
    margin:0; 
    padding:0; 
    height:10px; 
} 

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
